body {
    background-color: bisque;
}

.run {
    font-family: 標楷體;
}

nav {
    color: blueviolet;
    text-align: left;
    padding: 20px;
}

nav a {
    color: black;
    display: inline-block;
    font-family: 標楷體;
    margin-right: 20px;
    margin-left: 20px;
}

nav a:hover {
    color: blue;
}

.list {
    display: flex;
}

.l {
    width: 60%;
}

.r {
    width: 30%;
}

.icon {
    height: 30px;
}

.photo {
    height: 400px;
    width: 450px;
    padding-left: 10px;
}

.imgs {
    display: flex;
}

.photos {
    width: 100px;
    height: 100px;
    padding: 10px;
}

.page {
    display: flex;
}

.page1 {
    width: 40%;
}

.page2 {
    width: 60%;
    border-style: solid;
    line-height: 80px;
}

.text1,
.price {
    text-align: center;
    font-size: 40px;
    font-family: 標楷體;
}

.color select {
    justify-content: center;
    background-color: antiquewhite;
    border-style: solid;
}

.color {
    /*border-style: solid;*/
    display: flex;
    justify-content: center;
    align-content: center;
}

.button {
    display: flex;
    justify-content: center;
    align-content: center;
    border-style: solid;
    margin-top: 30px;
}

input {
    border: 0;
    background-color: #003C9D;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

input:hover {
    color: #003C9D;
    background-color: #fff;
    border: 2px #003C9D solid;
}

.comment {
    /*background-color: blue;*/
    /*height: 100px;*/
    display: flex;
    justify-content: space-evenly;
    border-style: solid;
}

.memo1 {
    width: 50%;
    background-color: aliceblue;
    border-style: solid;
}

.memo2 {
    width: 50%;
    background-color: aliceblue;
    border-style: solid;
}

.memo1 p,
.memo2 p {
    font-size: 30px;
    font-family: 標楷體;
    text-align: center;
}

.c1,
.c2,
.c3 {
    width: 30%;
    border-style: solid;
    display: block;
    margin: auto;
}

.title {
    text-align: center;
    font-size: 25px;
    line-height: 60px;
}

.recommend {
    background-color: beige;
}

.recommend p {
    text-align: center;
    font-size: 20px;
}

.items {
    display: flex;
    justify-content: center;
    align-content: center;
}

.item1,
.item2,
.item3 {
    width: 30%;
    border-style: solid;
}

.it1,
.it2,
.it3 {
    width: 200px;
    height: 200px;
    /*height: 100vh;*/
    display: block;
    margin: auto;
}

.comment-place {
    outline: none;
    background-color: rgb(26, 26, 26);
    border: 1px solid rgb(210, 210, 210);
    font-size: 15px;
    width: 60%;
    color: white;
    display: block;
    margin: auto;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    width: 60%;
    /*display: block;
    margin: auto;*/
}

.rating>input {
    display: none;
}

.rating>label {
    position: relative;
    width: 8%;
    margin-left: 2%;
    font-size: 28px;
    color: rgb(210, 210, 210);
    cursor: pointer;
}

.rating>label::before {
    content: "★";
    position: absolute;
    opacity: 0;
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1;
}

.rating>input:checked~label:before {
    opacity: 1;
}

.rating:hover>input:checked~label:before {
    opacity: 0.4;
}