* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: #edede9;
}

.run {
    font-family: 'Noto Serif TC', serif;
    background-color: #d6ccc2;
    color: #534d3e;
}

.l img {
    display: block;
    margin: auto;
    width: 50%;
}

.ctu {
    /*border-style: solid;*/
    width: 30%;
    display: block;
    margin: auto;
}

.nav-title {
    /*border-style: solid;*/
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* margin-top: 1%; */
    height: 100%;
    width: 100%;
    float: left;
    /* border: 2px solid darkcyan; */
    text-align: center;
}

.name {
    position: relative;
    width: 20%;
}

.nav-name {
    display: flex;
    justify-content: space-evenly;
}

.nav-name>li {
    float: left;
}

.nav-title li {
    list-style: none;
    position: relative;
}

.nav-title ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

/* name漂浮改變顏色 */
.nav-name>li>a:hover {
    color: #c4b793;
}

.subname li a {
    background-color: #e0e1dd;
    /* subname的標題 */
    border: 0.1px solid gray;
    line-height: 70px;
}

.subname li a:hover {
    background-color: rgb(172, 172, 172);
}

.nav-name a {
    text-decoration: none;
    color: inherit;
    /* background-color: blue; */
    /* width: 300px; */
    /* border: 2px solid rgb(123, 47, 47); */
    display: block;
    line-height: 100px;
    font-family: 'Noto Serif TC', serif;
}

.nav-name ul {
    display: none;
    /* subname總框架 */
}

.nav-name .name:hover ul {
    display: block;
}

.list {
    display: flex;
    /*border-style: solid;*/
}

.subname {
    display: block;
    position: absolute;
    z-index: 2;
}

.l {
    width: 60%;
    display: flex;
    /*border-style: solid;*/
}

.r {
    width: 40%;
    display: flex;
    /*border-style: solid;*/
}

.iconall {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    /*border-style: solid;*/
    width: 30%;
}

.icon {
    height: 30px;
    /*border-style: solid;*/
}

/*導覽列結束*/

.stepimg {
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 1%;
}

.check {
    width: 5%;
    display: block;
    margin: auto;
}

h3 {
    text-align: center;
    font-family: 'Noto Serif TC', serif;
}

.order {
    width: 70%;
    display: block;
    margin: auto;
    /*border-style: solid;*/
    background-color: #b9b1a8;
}

.order p {
    font-family: 'Noto Serif TC', serif;
    text-align: center;
}

.order-all {
    display: flex;
}

.order-p {
    width: 20%;
    margin: 3%;
}

.order-all p {
    display: block;
    margin: auto;
}

.checkout {
    width: 83%;
    display: flex;
    justify-content: right;
}

.btn {
    background-color: #9a8c98;
    width: 25%;
    height: 35px;
    border-radius: 5px;
    border: none;
    color: #e9e9e9;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    font-family: 'Noto Serif TC', serif;
}

footer {
    text-align: center;
    background-color: #d6ccc2;
    height: 100px;
    margin-top: 3%;
}

.last_title {
    margin-top: 1%;
    margin-bottom: 1%;
}

.last_title p {
    font-family: 'Noto Serif TC', serif;
    text-align: center;
    color: rgb(111, 109, 109);
}

footer hr {
    width: 80%;
    display: block;
    margin: auto;
    border-color: #dcd9cd;
}

.last {
    width: 50%;
    padding-top: 2%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.last a {
    font-family: 'Noto Serif TC', serif;
    text-decoration: none;
    color: rgb(111, 109, 109);
}