* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: #edede9;
}

.run {
    font-family: 'Noto Serif TC', serif;
    background-color: #d6ccc2;
    color: #534d3e;
}

.l img {
    display: block;
    margin: auto;
    width: 50%;
}

.ctu {
    /*border-style: solid;*/
    width: 30%;
    display: block;
    margin: auto;
}

.nav-title {
    /*border-style: solid;*/
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* margin-top: 1%; */
    height: 100%;
    width: 100%;
    float: left;
    /* border: 2px solid darkcyan; */
    text-align: center;
}

.name {
    position: relative;
    width: 20%;
}

.nav-name {
    display: flex;
    justify-content: space-evenly;
}

.nav-name>li {
    float: left;
}

.nav-title li {
    list-style: none;
    position: relative;
}

.nav-title ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

/* name漂浮改變顏色 */
.nav-name>li>a:hover {
    color: #c4b793;
}

.subname li a {
    background-color: #e0e1dd;
    /* subname的標題 */
    border: 0.1px solid gray;
    line-height: 70px;
}

.subname li a:hover {
    background-color: rgb(172, 172, 172);
}

.nav-name a {
    text-decoration: none;
    color: inherit;
    /* background-color: blue; */
    /* width: 300px; */
    /* border: 2px solid rgb(123, 47, 47); */
    display: block;
    line-height: 100px;
    font-family: 'Noto Serif TC', serif;
}

.nav-name ul {
    display: none;
    /* subname總框架 */
}

.subname {
    display: block;
    position: absolute;
    z-index: 2;
}

.nav-name .name:hover ul {
    display: block;
}

.list {
    display: flex;
    /*border-style: solid;*/
}

.l {
    width: 60%;
    display: flex;
    /*border-style: solid;*/
}

.r {
    width: 40%;
    display: flex;
    /*border-style: solid;*/
}

.iconall {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    /*border-style: solid;*/
    width: 30%;
}

.icon {
    height: 30px;
    /*border-style: solid;*/
}

/*導覽列結束*/

hr {
    width: 100%;
    color: black;
    /*padding-top: 3%;*/
    /*padding-bottom: 3%;*/
}

/*輪播圖開始*/

/* 最外層的div 包起來 */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    padding-bottom: 3%;
}

.singleSlide {
    display: flex;
}

img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

/* 先給他absolute的位置，再用top來置中 */
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
    border: transparent solid 1px;
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 15px;
    color: black;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    border: transparent solid 1px;
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 15px;
    color: black;
}

/* on Hover, 靠上去的時候會有變化 */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white !important;
}

/* 小標題
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
 */
/* 淡入淡出 特效*/
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    0% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

/*輪播圖結束*/

/*熱銷商品*/
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    align-items: center;
    justify-content: center;
}

input[type="radio"] {
    display: none;
}

.card {
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform 0.4s ease;
    cursor: pointer;
}

.container {
    width: 100%;
    /*max-width: 1000px;*/
    /*max-height: 600px;*/
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cards {
    position: relative;
    width: 80%;
    height: 100%;
    margin-bottom: 20px;
}

/*img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}*/

#item-1:checked~.cards #song-3,
#item-2:checked~.cards #song-1,
#item-3:checked~.cards #song-2 {
    transform: translatex(-80%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked~.cards #song-2,
#item-2:checked~.cards #song-3,
#item-3:checked~.cards #song-1 {
    transform: translatex(80%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked~.cards #song-1,
#item-2:checked~.cards #song-2,
#item-3:checked~.cards #song-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
}


.card p {
    font-family: 'Noto Serif TC', serif;
    font-size: 30px;
    color: #534d3e;
}

/*熱銷商品結束*/

.title-c {
    text-align: center;
    font-size: 20px;
    font-family: 'Noto Serif TC', serif;
}

.title-e {
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    font-family: 'Noto Serif TC', serif;
}


footer {
    text-align: center;
    background-color: #d6ccc2;
    height: 100px;
    margin-top: 3%;
}

.last_title {
    margin-top: 1%;
    margin-bottom: 1%;
}

.last_title p {
    font-family: 'Noto Serif TC', serif;
    text-align: center;
    color: rgb(111, 109, 109);
}


.footer_hr {
    width: 80%;
    display: block;
    margin: auto;
    border-color: #dcd9cd;
}

.last {
    width: 50%;
    padding-top: 2%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.last a {
    font-family: 'Noto Serif TC', serif;
    text-decoration: none;
    color: rgb(111, 109, 109);
}