* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: #edede9;
}

.run {
    font-family: 'Noto Serif TC', serif;
    background-color: #d6ccc2;
    color: #534d3e;
}

.l img {
    display: block;
    margin: auto;
    width: 50%;
}

.ctu {
    /*border-style: solid;*/
    width: 30%;
    display: block;
    margin: auto;
}

.nav-title {
    /*border-style: solid;*/
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* margin-top: 1%; */
    height: 100%;
    width: 100%;
    float: left;
    /* border: 2px solid darkcyan; */
    text-align: center;
}

.name {
    position: relative;
    width: 20%;
}

.nav-name {
    display: flex;
    justify-content: space-evenly;
}

.nav-name>li {
    float: left;
}

.nav-title li {
    list-style: none;
    position: relative;
}

.nav-title ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

/* name漂浮改變顏色 */
.nav-name>li>a:hover {
    color: #c4b793;
}

.subname li a {
    background-color: #e0e1dd;
    /* subname的標題 */
    border: 0.1px solid gray;
    line-height: 70px;
}

.subname li a:hover {
    background-color: rgb(172, 172, 172);
}

.nav-name a {
    text-decoration: none;
    color: inherit;
    /* background-color: blue; */
    /* width: 300px; */
    /* border: 2px solid rgb(123, 47, 47); */
    display: block;
    line-height: 100px;
    font-family: 'Noto Serif TC', serif;
}

.nav-name ul {
    display: none;
    /* subname總框架 */
}

.subname {
    display: block;
    position: absolute;
    z-index: 2;
}

.nav-name .name:hover ul {
    display: block;
}

.list {
    display: flex;
    /*border-style: solid;*/
}

.l {
    width: 60%;
    display: flex;
    /*border-style: solid;*/
}

.r {
    width: 40%;
    display: flex;
    /*border-style: solid;*/
}

.iconall {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    /*border-style: solid;*/
    width: 100%;
}

.icon {
    height: 30px;
    /*border-style: solid;*/
}

/*導覽列結束*/

hr {
    width: 100%;
    color: black;
    padding-top: 3%;
    /*padding-bottom: 3%;*/
}

/*輪播圖開始*/

/* 最外層的div 包起來 */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    padding-bottom: 3%;
}

.singleSlide {
    display: flex;
}

img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

/* 先給他absolute的位置，再用top來置中 */
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
    border: transparent solid 1px;
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 15px;
    color: black;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    border: transparent solid 1px;
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 15px;
    color: black;
}

/* on Hover, 靠上去的時候會有變化 */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white !important;
}

/* 小標題
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
 */
/* 淡入淡出 特效*/
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    0% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

/*輪播圖結束*/

/*熱銷商品*/
.hotsale {
    width: 100%;
    /* border: 2px rgb(0, 255, 51) solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    overflow: hidden;
    /*background-color: rgb(0, 0, 0);*/
}



/* 熱銷商品 */


:root {
    --card-width: 200px;
    --card-height: 300px;
    --card-transition-duration: 800ms;
    --card-transition-easing: ease;
}

/*body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.787); 
    overflow: hidden;
}*/




.app {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8%;
    /* border: #f00 2px solid; */
}

/* .app__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  filter: blur(8px);
  pointer-events: none;
  user-select: none;
  overflow: hidden;
} */

/* .app__bg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
  opacity: 0.8;
} */

/* .app__bg__image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--image-translate-offset, 0));
  width: 180%;
  height: 180%;
  transition: transform 1000ms ease, opacity 1000ms ease;
  overflow: hidden;
} */

/* .app__bg__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* .app__bg__image.current--image {
  opacity: 1;
  --image-translate-offset: 0;
} */

/* .app__bg__image.previous--image,
.app__bg__image.next--image {
  opacity: 0;
}

.app__bg__image.previous--image {
  --image-translate-offset: -25%;
}

.app__bg__image.next--image {
  --image-translate-offset: 25%;
} */

.cardList {
    position: absolute;
    width: calc(3 * var(--card-width));
    height: auto;

}

.cardList__btn {
    --btn-size: 35px;
    width: var(--btn-size);
    height: var(--btn-size);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;

}

.cardList__btn.btn--left {
    left: -5%;
}

.cardList__btn.btn--right {
    right: -5%;
}

.cardList__btn .icon1 {
    width: 100%;
    height: 100%;
}

.cardList__btn .icon1 svg {
    width: 100%;
    height: 100%;
}

.cardList .cards__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 1000px;

}

.card {
    --card-translateY-offset: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateX(var(--card-translateX-offset)) translateY(var(--card-translateY-offset)) rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
    display: inline-block;
    width: var(--card-width);
    height: var(--card-height);
    transition: transform var(--card-transition-duration) var(--card-transition-easing);
    user-select: none;
}

.card::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1;
    transition: opacity var(--card-transition-duration) var(--card-transition-easing);
    opacity: calc(1 - var(--opacity));
}

.card__image {
    position: relative;
    width: 100%;
    height: 100%;
}

.card__image img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card.current--card {
    --current-card-rotation-offset: 0;
    --card-translateX-offset: 0;
    --card-rotation-offset: var(--current-card-rotation-offset);
    --card-scale-offset: 1.2;
    --opacity: 0.8;
}

.card.previous--card {
    --card-translateX-offset: calc(-1 * var(--card-width) * 1.1);
    --card-rotation-offset: 25deg;
}

.card.next--card {
    --card-translateX-offset: calc(var(--card-width) * 1.1);
    --card-rotation-offset: -25deg;
}

.card.previous--card,
.card.next--card {
    --card-scale-offset: 0.9;
    --opacity: 0.4;
}

.infoList {
    position: absolute;
    width: calc(3 * var(--card-width));
    height: var(--card-height);
    pointer-events: none;
}

.infoList .info__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    perspective: 1000px;
    transform-style: preserve-3d;
    /* border: rgb(30, 71, 209) 2px solid; */
}

.info {
    margin-bottom: calc(var(--card-height) / 8);
    margin-left: calc(var(--card-width) / 1.5);
    transform: translateZ(2rem);
    transition: transform var(--card-transition-duration) var(--card-transition-easing);
}

.info .text {
    position: relative;
    /* font-family: "Montserrat"; */
    /* font-size: calc(var(--card-width) * var(--text-size-offset, 0.2)); */
    white-space: nowrap;
    color: #fff;
    width: fit-content;
}

.winename {
    font-size: 40px;
    color: #fff;
    /* font-family: "Montserrat"; */
}

.location {
    font-size: 25px;
    color: #fff;
    /* font-family: "Montserrat"; */
}

.description {
    font-size: 20px;
    color: #fff;
    font-family: 'EB Garamond';
}

.info .winename,
.info .location {
    text-transform: uppercase;
}

.info .location {
    font-weight: 800;
}

.info .location {
    --mg-left: 40px;
    --text-size-offset: 0.12;
    font-weight: 600;
    margin-left: var(--mg-left);
    margin-bottom: calc(var(--mg-left) / 2);
    padding-bottom: 0.8rem;
}

.info .location::before,
.info .location::after {
    content: "";
    position: absolute;
    background: #fff;
    left: 0%;
    transform: translate(calc(-1 * var(--mg-left)), -50%);
}

.info .location::before {
    top: 50%;
    width: 20px;
    height: 5px;
}

.info .location::after {
    bottom: 0;
    width: 60px;
    height: 2px;
}

.info .description {
    --text-size-offset: 0.065;
    font-weight: 500;
}

.info.current--info {
    opacity: 1;
    display: block;
}

.info.previous--info,
.info.next--info {
    opacity: 0;
    display: none;
}

.loading__wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    z-index: 200;
}

.loading__wrapper .loader--text {
    color: #fff;
    font-family: "Montserrat";
    font-weight: 500;
    margin-bottom: 1.4rem;
}

.loading__wrapper .loader {
    position: relative;
    width: 200px;
    height: 2px;
    background: rgba(255, 255, 255, 0.25);
}

.loading__wrapper .loader span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transform: scaleX(0);
    transform-origin: left;
}

/* 推薦圖片大小 */
@media only screen and (min-width: 800px) {
    :root {
        --card-width: 300px;
        --card-height: 408px;
        /* w:h=1:1.36 */
    }
}

.support {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    display: flex;
}

.support a {
    margin: 0 10px;
    color: #fff;
    font-size: 1.8rem;
    backface-visibility: hidden;
    transition: all 150ms ease;
}

.support a:hover {
    transform: scale(1.1);
}

/*熱銷商品結束*/

.title-c {
    text-align: center;
    font-size: 20px;
    font-family: 'Noto Serif TC', serif;
}

.title-e {
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    font-family: 'Noto Serif TC', serif;
}

footer {
    text-align: center;
    background-color: #84a98c;
    height: 80px;
    margin-top: 3%;
}

.footerlogo img {
    width: 50px;
    height: 50px;
    margin-top: 1%;
    margin-left: 2%;
    float: left;
}