* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: #edede9;
}

.run {
    font-family: 'Noto Serif TC', serif;
    background-color: #778da9;
}

.l img {
    display: block;
    margin: auto;
    width: 50%;
}

.ctu {
    /*border-style: solid;*/
    width: 30%;
    display: block;
    margin: auto;
}

.nav-title {
    /*border-style: solid;*/
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* margin-top: 1%; */
    height: 100%;
    width: 100%;
    float: left;
    /* border: 2px solid darkcyan; */
    text-align: center;
}

.name {
    position: relative;
    width: 20%;
}

.nav-name {
    display: flex;
    justify-content: space-evenly;
}

.nav-name>li {
    float: left;
}

.nav-title li {
    list-style: none;
    position: relative;
}

.nav-title ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

/* name漂浮改變顏色 */
.nav-name>li>a:hover {
    color: #C0A06A;
}

.subname li a {
    background-color: wheat;
    /* subname的標題 */
    border: 0.1px solid gray;
    line-height: 70px;
}

.subname li a:hover {
    background-color: rgb(172, 172, 172);
}

.nav-name a {
    text-decoration: none;
    color: inherit;
    /* background-color: blue; */
    /* width: 300px; */
    /* border: 2px solid rgb(123, 47, 47); */
    display: block;
    line-height: 100px;
    font-family: 'Noto Serif TC', serif;
}

.nav-name ul {
    display: none;
    /* subname總框架 */
}

.nav-name .name:hover ul {
    display: block;
}

.subname {
    display: block;
    position: absolute;
    z-index: 2;
}

.list {
    display: flex;
    /*border-style: solid;*/
}

.l {
    width: 60%;
    display: flex;
    /*border-style: solid;*/
}

.r {
    width: 40%;
    display: flex;
    /*border-style: solid;*/
}

.iconall {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    /*border-style: solid;*/
    width: 100%;
}

.icon {
    height: 30px;
    /*border-style: solid;*/
}

.text {
    font-size: 30px;
    font-family: 'Noto Serif TC', serif;
}

/*同頁標籤切換*/
.tab_css {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tab_css input {
    display: none
}

.tab_css label {
    margin: 0 5px 5px 0;
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 5px;
    background: #999;
    color: #fff;
    opacity: 0.5;
    font-family: 'Noto Serif TC', serif;
}

.tab_content {
    order: 1;
    display: none;
    width: 80%;
    background-color: #e9edc9;
    border-bottom: 3px solid #ddd;
    line-height: 1.6;
    font-size: .9em;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: 'Noto Serif TC', serif;
}

.tab_css input:checked+label,
.tab_css label:hover {
    opacity: 1;
    font-weight: bold;
}

.tab_css input:checked+label+.tab_content {
    display: initial;
}

.tab_dd {
    background-color: #bcb8b1;
    display: block;
    margin: auto;
    /*border-radius: 5%;*/
    /*border-style: solid;*/
}

.ddid {
    width: 50%;
    text-align: left;
    /*border-style: solid;*/
}

.state {
    width: 50%;
    text-align: right;
    /*border-style: solid;*/
}

.tab_title,
.tab_items {
    display: flex;
}

.tab_name {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    border-style: solid;
}

.tab_img {
    width: 20%;
    /*border-style: solid;*/
}

.buy {
    height: 100px;
    margin-top: 3%;
    margin-left: 3%;
    border-style: solid;
}


/*同頁標籤切換結束*/