body {
    background-color: blanchedalmond;
}

.run {
    font-family: 標楷體;
}

nav {
    color: blueviolet;
    text-align: left;
    padding: 20px;
}

nav a {
    color: black;
    display: inline-block;
    font-family: 標楷體;
    margin-right: 20px;
    margin-left: 20px;
}

nav a:hover {
    color: blue;
}

.list {
    display: flex;
}

.l {
    width: 60%;
}

.r {
    width: 30%;
    float: right;
    border-style: solid;
}

.icon {
    height: 30px;
}

.text {
    font-size: 30px;
    font-family: 標楷體;
}

#tab-demo {
    width: 350px;
    height: 200px;
}

#tab-demo>ul {
    display: block;
    margin: 0;
    list-style: none;
}

.tab-title {
    list-style: none;
}

#tab-demo>ul>li {
    display: inline-block;
    vertical-align: top;
    font-family: '微軟正黑體';
    margin: 0 -1px -1px 0;
    border: 1px solid #BCBCBC;
    height: 25px;
    line-height: 25px;
    background: #cdcdcd;
    padding: 0 15px;
    list-style: none;
    box-sizing: border-box;
}

#tab-demo>ul>li a {
    color: #000;
    text-decoration: none;
}

#tab-demo>ul>li.active {
    border-bottom: 1px solid #fff;
    background: #fff;
}

#tab-demo>.tab-inner {
    clear: both;
    color: #000;
    border: 1px #BCBCBC solid;
}

.tab-inner {
    padding: 15px;
    height: 50px;
}