* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: #edede9;
}

.run {
    font-family: 'Noto Serif TC', serif;
    background-color: #d6ccc2;
    color: #534d3e;
}

.l img {
    display: block;
    margin: auto;
    width: 50%;
}

.ctu {
    /*border-style: solid;*/
    width: 30%;
    display: block;
    margin: auto;
}

.nav-title {
    /*border-style: solid;*/
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* margin-top: 1%; */
    height: 100%;
    width: 100%;
    float: left;
    /* border: 2px solid darkcyan; */
    text-align: center;
}

.name {
    position: relative;
    width: 20%;
}

.nav-name {
    display: flex;
    justify-content: space-evenly;
}

.nav-name>li {
    float: left;
}

.nav-title li {
    list-style: none;
    position: relative;
}

.nav-title ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

/* name漂浮改變顏色 */
.nav-name>li>a:hover {
    color: #c4b793;
}

.subname li a {
    background-color: #e0e1dd;
    /* subname的標題 */
    border: 0.1px solid gray;
    line-height: 70px;
}

.subname li a:hover {
    background-color: rgb(172, 172, 172);
}

.nav-name a {
    text-decoration: none;
    color: inherit;
    /* background-color: blue; */
    /* width: 300px; */
    /* border: 2px solid rgb(123, 47, 47); */
    display: block;
    line-height: 100px;
    font-family: 'Noto Serif TC', serif;
}

.nav-name ul {
    display: none;
    /* subname總框架 */
}

.nav-name .name:hover ul {
    display: block;
}

.list {
    display: flex;
    /*border-style: solid;*/
}

.subname {
    display: block;
    position: absolute;
    z-index: 2;
}

.l {
    width: 60%;
    display: flex;
    /*border-style: solid;*/
}

.r {
    width: 40%;
    display: flex;
    /*border-style: solid;*/
}

.iconall {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    /*border-style: solid;*/
    width: 100%;
}

.icon {
    height: 30px;
    /*border-style: solid;*/
}

/*導覽列結束*/

.img {
    width: 60%;
    display: block;
    margin: auto;
    /*border-style: solid;*/
}

.title1 {
    display: flex;
    margin-top: 3%;
}

.icon1 {
    width: 10%;
    /*border-style: solid;*/
    /*height: 30px;*/
    /*float: right;*/
}

.text {
    width: 50%;
    font-size: 20px;
    /*line-height: 10%;*/
    font-family: 'Noto Serif TC', serif;
}

.body2 {
    /*height: 100vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.item {
    position: relative;
    width: 350px;
    height: 350px;
    /*border: 1px solid;*/
    margin: 15px;
    perspective: 600px;
}

.img1 {
    position: absolute;
    transform-origin: right;
    transform: rotateY(0deg);
    opacity: 1;
    transition: 0.5s;
}

.caption {
    position: absolute;
    z-index: 0;
    background-color: #e3d5ca;
    color: #6c584c;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform-origin: left;
    transform: rotateY(90deg);
    opacity: 0;
    transition: 0.5s;
}

.caption h3 {
    font-family: 'Noto Serif TC', serif;
    text-align: center;
}

.caption p {
    font-family: 'Noto Serif TC', serif;
    font-size: 15px;
}

.item:hover .img {
    transform: rotateY(-90deg);
    opacity: 0;
}

.item:hover .caption {
    transform: rotateY(0deg);
    opacity: 1;
}

.us {
    width: 350px;
    height: 350px;
}

.intro {
    display: flex;
    /*border-style: solid;*/
    justify-content: space-between;
}

.intro_icon {
    width: 25%;
    display: block;
    margin: auto;
}