*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #edede9;
}
.array{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.img{
    width: 400px;
    height: 400px;
}
.item1{
    width: 400px;
    height: 600px;
    padding: 15 10;
}
.item2{
    width:500px;
    height:450px;
    padding: 15 10;

}
.s_img{
    width:75px;
    height: 75px;
}